<?xml version="1.0" encoding="UTF-8"?>
<AAAConfiguration>

<!-- AAA module will behave as definition of below for each peer -->
<!-- AAAmodes : proxy or server -->
   <AAAMode>{{ aaa_mode }}</AAAMode>
   
   <!--during session termination by AAA server, STR is required or not-->
   <STR-Required>{{ str_required }}</STR-Required>
  
<!--Session Timeout-->
   <SessionTimeout>20</SessionTimeout>

   <HssRestoration>{{ hss_restoration }}</HssRestoration>
 
   <OMCounter>1</OMCounter> <!--Minute-->
   
   <!--write origname of peers which AAA module will connect to-->
   <Peers>
{% for host in groups['aaaservers'] %}
   <AAA-Server>{{ hostvars[host]['inventory_hostname'] }}.netas.com</AAA-Server>
{% endfor %}
{% for host in peerList %}
   <{{ host.type }}>{{ host.name }}.netas.com</{{ host.type }}>
{% endfor %}
   </Peers>
</AAAConfiguration>
 





